<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit <%=item.name%></h1>
    <form action="/item/<%=item.id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=item.name%>"/><br/>
        <input type="submit" value="submit edit"></input>
    </form>
    <form action="/item/<%=item.id;%>?_method=DELETE" method="POST">
        <input type='submit' value='delete'/>
    </form>
</body>
</html>