<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index page</h1>
    <nav>
        <a href="/item/new">Add a new Item</a>
    </nav>
    <ul class="items">
        <% for (let i=0;i<item.length;i++) {%>
            <li>
                <p style="display:inline"><%=item[i].name%></p>
                <a href="/item/<%=item[i].id%>/edit" style="display:inline"><button>modify</button></a>
            </li>
        <%}%>
    </ul>
    <a href="">?Log Out?</a>
</body>
</html>